@keyframes addLetter {
    form {
        color: transparent;
        top: 100px;
    }

    50% {
        top: -10px;
    }

    to { 
        color: white;
        top: 0;
    }
}

@keyframes openingNik {
    from {
        right: -20vw;  
    }

    to {
        right: 36vw;
    } 
}

@keyframes animElem1 {
    from {
        opacity: 0;
        margin-top: -1em;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

.animElem1 {
    margin-top: -1em;
    opacity: 0;
    animation: 0.5s forwards animElem1 ease-in-out;
    animation-delay: 4s;
}

@keyframes navButtonsBlockOpen {
    from {
        opacity: 0;
        margin-left: 50vw;
    }

    to {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes navButtonsBlockClose {
    from {
        opacity: 1;
        margin-left: 50vw;
    }

    to {
        opacity: 0;
        margin-left: 0;
    }
}

#navButtonsBlock {
    animation: 0.5s forwards navButtonsBlockOpen ease-in-out;
    opacity: 0;
    margin-left: 50vw;
}

@keyframes scrollArrow {
    to {
        opacity: 1;
        bottom: 40px;
    }
}

@keyframes scrollArrowUp {

    to {
        opacity: 0;
        bottom: 200px;
    }
}

#scrollArrow {
    animation: 0.3s forwards scrollArrow ease-in-out;
    animation-delay: 5s;
    position: relative;
    opacity: 0;
    bottom: 0px;
}

@keyframes scrollAnim {
    from {
        opacity: 0;
        margin-top: -1em;
        color: transparent;
    }

    to {
        opacity: 1;
        margin-top: 0;
        color: white;
    }
}

.scrollAnim {
    animation: 0.3s forwards scrollAnim ease-in-out;
    position: relative;
    opacity: 0;
    margin-top: -1em;
    color: transparent;
}

@keyframes readBTNAnimation {
    from {
        opacity: 0;
        margin-top: -1em;
    }

    to {
        opacity: 1;
        margin-top: 20px;
    }
}

#readBTNAnimation {
    animation: 0.5s forwards readBTNAnimation ease-out;
    animation-delay: 5s;
    opacity: 0;
    margin-top: -1em;
}

@keyframes DECORATE_LabelCircle {
    form {
        width: 0px;
        height: 0px;
    }

    to {
        width: 40vw;
        height: 40vw;
    }
}

#DECORATE_LabelCircle {
    animation: 1s ease-in-out DECORATE_LabelCircle forwards;
    animation-delay: 4s;
    width: 0px;
    height: 0px;
}

@keyframes DECORATE_aboutLine {
    form {
        transform: rotate(-20deg) translate(100%);
    }

    to {
        transform: rotate(-20deg) translate(0px);
    }
}

#DECORATE_aboutLine {
    transform: rotate(-20deg) translate(100%);
}

@keyframes stackInf {
    to{
        left: 0;
        top: 0; 
        width: 100%;
        height: 100%;
        color: transparent;
        border-radius: 0;
    }
}

@keyframes stackImgInf {
    from{
        top: 0vh;
        left: 0vw;
    }
    
    to{
        top: 40vh;
        left: -40vw;
        transform: scale(2);
    }
}

.stackElem  center {
    position: relative;
    top: 0;
}

@keyframes navbarWHENstackAnim {
    from{
        color:white;
    }

    to{
        color: transparent;
    }
}

@keyframes stackClose {
    from{
        width: 100%;
    }

    to{
        width: 0;
    }
}

@keyframes MEDIA_photo {
    from{
        width: 0;
        height: 0;
    }

    to{
        width: 50vw;
        height: 50vw;
    }
}